# Ignore node_modules directory
node_modules

# Ignore npm debug log
npm-debug.log

# Ignore environment-specific files
.env
.env.*

# Ignore build artifacts
dist
build

# Ignore development files
*.log
*.lock
*.tmp
*.pid

# Ignore version control files
.git
.gitignore

# Ignore editor-specific files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore test files
__tests__
test
tests

# Ignore documentation files
docs